{*
$Id$
vim: set ts=2 sw=2 sts=2 et:
*}
<script type="text/javascript" src="{$SkinDir}/modules/Mobile_Admin/common.js"></script>

<form name="buy_subscription" action="https://secure.x-cart.com/customer.php" method="get" target="_blank">
  <input type="hidden" name="area" value="purchase_services" />
  <input type="hidden" name="target" value="generate_invoice" />
  <input type="hidden" name="action" value="buy" />
  <input type="hidden" name="add_1" value="473" />
  <input type="hidden" name="add_2" value="" />
</form>
