/* vim: set ts=2 sw=2 sts=2 et: */
/**
 * CSS stylesheet for onoff widget
 *
 * @category   X-Cart
 * @package    X-Cart
 * @subpackage Skin
 * @author     Michael Bugrov
 * @copyright  Copyright (c) 2001-2016 Qualiteam software Ltd <info@x-cart.com>
 * @version    09d46970de4b3605245381ed8ecd8b55fffd1d3e, v2 (xcart_4_7_5), 2016-02-12 18:28:36, onoff.css, aim
 * @link       http://www.x-cart.com/
 * @see        ____file_see____
 */

div.onoffswitch {
  display: inline-block;
  height: 35px
}

.onoffswitch input[type=checkbox]+label .fa {
  padding: 4px;
  width: 54px;
  height: 30px;
  background-color: #ccc;
  border-radius: 30px;
  transition: background .4s;
  color: #9d9d9d;
  font-size: 14px;
  vertical-align: middle;
  position: relative;
}

.onoffswitch input[type=checkbox]+label .fa:before,
.onoffswitch input[type=checkbox]+label .fa:after {
  position: absolute;
}

.onoffswitch input[type=checkbox]+label .fa:before {
  transition: margin .4s,color .4s;
  top: 11px;
  left: 13px;
  z-index: 1
}

.onoffswitch input[type=checkbox]+label .fa:after {
  height: 30px;
  width: 30px;
  transition: margin .4s,background .4s;
  border-radius: 30px;
  background-color: #fff;
  content: "";
}

.onoffswitch input[type=checkbox]+label .on-label,
.onoffswitch input[type=checkbox]+label .off-label {
  text-transform: uppercase;
  font-size: 14px;
  margin: 0 2px;
  transition: color .4s;
  display: inline-block;
  vertical-align: middle;
}

.onoffswitch input[type=checkbox]+label .on-label {
  color: #ccc;
  text-align: left;
}

.onoffswitch input[type=checkbox]+label .off-label {
  color: #9d9d9d;
  text-align: right;
}

.onoffswitch input[type=checkbox]:checked+label .fa {
  background-color: #51b962;
  color: #51b962;
}

.onoffswitch input[type=checkbox]:checked+label .fa:before,
.onoffswitch input[type=checkbox]:checked+label .fa:after {
  margin-left: 24px;
}

.onoffswitch input[type=checkbox]:checked+label .on-label {
  color: #51b962;
}

.onoffswitch input[type=checkbox]:checked+label .off-label {
  color: #ccc;
}

.onoffswitch input[type=checkbox]:disabled+label {
  opacity: .3;
}

.onoffswitch input[type=checkbox] {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}

.onoffswitch input[type=checkbox]+label {
  cursor:pointer;
  outline:0;
  user-select:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  text-align:left;
  position:relative;
}
