/*
6d30e2b88243b755c100cb5b68b5f1253fdc3db1, v4 (xcart_4_7_4), 2015-07-22 14:56:17, main.css, random
vim: set ts=2 sw=2 sts=2 et:
*/
.card-expire {
  text-align: right;
  color: #aaa;
  width: 100%;
}
.card-icon,
.card-info
{
  display: inline-block;
  vertical-align: middle;
}
.card-icon {
  width: 100px;
  height: 45px;
  background: url(card_types.png) 0 0 no-repeat;
  background-size: 100%;
}
.card-icon.mc {
}
.card-icon.visa {
  background-position: 0 12.5%;
}
.card-icon.jcb {
  background-position: 0 25%;
}
.card-icon.amex {
  background-position: 0 37.5%;
}
.card-icon.dc {
  background-position: 0 50%;
}
.card-icon.dicl {
  background-position: 0 62.5%;
}
.card-icon.sw {
  background-position: 0 75%;
}
.card-icon.cup {
  background-position: 0 87.5%;
}
.card-icon.bc {
  background-position: 0 100%;
}

table.saved-cards {
  max-width: 700px;
}
table.saved-cards th {
  text-align: left;
}
table.saved-cards tr.button-row td {
  padding-top: 10px;
  text-align: left;
}
table.saved-cards .default-card {
  font-weight: bold;
}

ul.saved-cards li {
  list-style: none;
}
ul.saved-cards li label {
  cursor: pointer;
}
ul.saved-cards li label input {
  vertical-align: middle;
}
ul.saved-cards .card-container {
  display: inline-block;
}

#xpc_address_hint {
  display: inline-block;
  vertical-align: top;
}
#xpc_iframe_section {
  margin-right: 20px;
  margin-bottom: 20px;
}

.xpc-show-all-cards {
  margin-left: 15px;
  font-size: smaller;
}
