{*
626362abdced0086c1c116748026db88b0984243, v1 (xcart_4_7_4), 2015-10-01 14:20:13, catalog_logo.tpl, mixon

vim: set ts=2 sw=2 sts=2 et:
*}
<svg version="1.1" id="icon_1_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="400px" height="200px" viewBox="1735.7 681.4 128.6 34.9" enable-background="new 1735.7 681.4 128.6 34.9" xml:space="preserve">
  <g id="icon_group">
    <g id="PB" transform="translate(0.000000,1400.000000) scale(0.100000,-0.100000)">
      <g id="Symbol_2_">
        <linearGradient id="pb_outer_1_" gradientUnits="userSpaceOnUse" x1="18492.0527" y1="7091.7881" x2="18503.6895" y2="7080.1519">
          <stop offset="0.2" style="stop-color:#C869A8"></stop>
          <stop offset="0.5" style="stop-color:#6E7EBB"></stop>
          <stop offset="0.8" style="stop-color:#00BCF1"></stop>
        </linearGradient>
        <path id="pb_outer_2_" fill="url(#pb_outer_1_)" d="M18550.2,7115.9c-45.4,0-82.3-36.8-82.3-82.3c0-45.4,36.8-82.3,82.3-82.3
              c45.5,0,82.3,36.8,82.3,82.3C18632.5,7079,18595.7,7115.9,18550.2,7115.9z M18550.2,6953.2c-44.4,0-80.4,36-80.4,80.4
              c0,44.4,36,80.4,80.4,80.4c44.4,0,80.4-36,80.4-80.4C18630.6,6989.2,18594.6,6953.2,18550.2,6953.2z M18545.8,7103.9
              c0,0.9,0.4,1.4,1.2,1.4c1.1,0,2.1,0.1,3.3,0.1c39.6,0,71.7-32.1,71.7-71.7c0-39.6-32.1-71.7-71.7-71.7
              c-39.6,0-71.7,32.1-71.7,71.7c0,30.9,19.5,57.2,46.9,67.3c0.7,0.3,1.3-0.1,1.5-0.9c0.3-0.8,0.1-1.4-0.6-1.7
              c-26.3-9.7-45.1-35-45.1-64.8c0-38.1,30.9-69,69-69c38.1,0,69,30.9,69,69c0,38.1-30.9,69-69,69c-1.1,0-2.2,0-3.3-0.1
              C18546.2,7102.6,18545.8,7103.1,18545.8,7103.9z M18548.2,6989.9c0.6,0,1.4,0,2,0c24.2,0,43.8,19.6,43.8,43.8
              c0,24.2-19.6,43.8-43.8,43.8c-0.6,0-1.5,0-2,0c-1.5,0-2.4,1.1-2.4,2.9c0,1.8,0.9,2.9,2.4,2.9c0.6,0,1.4,0,2,0
              c27.4,0,49.5-22.2,49.5-49.5c0-27.3-22.2-49.5-49.5-49.5c-0.6,0-1.4,0-2,0c-1.5,0-2.4,1.1-2.4,2.9
              C18545.8,6988.7,18546.7,6989.9,18548.2,6989.9z M18550.2,6976.9c31.3,0,56.7,25.4,56.7,56.7c0,31.3-25.4,56.7-56.7,56.7
              c-0.8,0-1.8,0-2.6,0c-1.2,0-1.9,0.9-1.9,2.2c0,1.4,0.7,2.2,1.9,2.2c0.9,0,1.7,0,2.6,0c33.8,0,61.1-27.4,61.1-61.1
              c0-33.8-27.4-61.1-61.1-61.1c-0.9,0-1.7,0-2.6,0.1c-1.2,0-1.9,0.8-1.9,2.2c0,1.4,0.7,2.2,1.9,2.2
              C18548.4,6976.9,18549.4,6976.9,18550.2,6976.9z M18526.1,6982.3c1.1-0.5,1.2-1.6,0.7-2.8c-0.6-1.2-1.5-1.7-2.5-1.2
              c-20.7,9.8-35.1,30.9-35.1,55.3c0,24.4,14.3,45.5,35,55.3c1.1,0.5,2.1,0,2.6-1.2c0.6-1.2,0.3-2.3-0.7-2.8
              c-19.2-9.1-32.5-28.6-32.5-51.3C18493.5,7011,18506.8,6991.4,18526.1,6982.3z M18526,6997.1c1.3-0.8,1.4-2.3,0.4-3.7
              c-1-1.4-2.3-1.9-3.6-1c-13.8,9.2-22.1,24.6-22.1,41.2c0,16.6,8.3,32,22.1,41.2c1.3,0.9,2.7,0.4,3.6-1c1-1.5,0.8-2.9-0.4-3.7
              c-12.2-8.1-19.5-21.8-19.5-36.5C18506.4,7018.9,18513.8,7005.3,18526,6997.1z M18520.9,7011.8c-4.6,6.2-7.2,13.7-7.2,21.8
              c0,7.9,2.5,15.5,7.2,21.8c1.1,1.4,2.9,1.5,4.5,0.2c1.7-1.2,2.1-2.9,1-4.4c-3.8-5.1-5.8-11.2-5.8-17.6c0-6.4,2-12.5,5.8-17.6
              c1.1-1.5,0.7-3.1-1-4.4C18523.8,7010.3,18522,7010.4,18520.9,7011.8z"></path>
        <path id="pb_inner_2_" fill="#3E53A4" d="M18537.2,7059.8c-3.1-0.9-5.1,1.4-5.1,3.8v37.4c0,2.3,1.7,3.6,4.3,3.6
              c2.6,0,4.3-1.3,4.3-3.6v-31.2c3,0.8,6.2,1.2,9.5,1.2c20.7,0,37.4-16.8,37.4-37.4c0-20.7-16.8-37.4-37.4-37.4l-0.8,0
              c-2.3,0-3.6,1.7-3.6,4.3c0,2.6,1.4,4.3,3.6,4.3c0.3,0,0.5,0,0.8,0c15.7,0,28.7,12.7,28.7,28.8c0,16.4-13.4,28.9-28.5,28.9
              C18543.1,7062.5,18540.3,7060.7,18537.2,7059.8z M18566.4,7049.7c-4.3,4.3-10,6.7-16.1,6.7c-8.2,0-17.6-4.2-18.1-8.1
              c-0.1-0.6,0-4.1,0-4.1v-66.5c0-2.6,1.7-3.8,4.3-3.8c2.4,0,4.3,1.1,4.3,3.8v67c2.5,2.3,5.9,3.2,9.5,3.2c7.9,0,14.2-6.4,14.2-14.3
              c0-7.8-6.4-14.2-14.2-14.2c-0.1,0-0.7,0-0.8,0c-2.3,0-3.6-1.7-3.6-4.3c0-2.6,1.3-4.3,3.6-4.3c0.2,0,0.7,0,0.8,0
              c6.1,0,11.8,2.4,16.1,6.7c4.3,4.3,6.7,10,6.7,16.1S18570.7,7045.4,18566.4,7049.7z"></path>
      </g>
      <path id="Wordmark_2_" fill="#4E4E4E" d="M18411.5,7013.1c2.9-2,7.8-3.3,12.9-3.3c10.6,0,17,5.4,17,14.3c0,7-3.7,10.5-13.6,13.8
            c-6.6,2.1-9.4,4.2-9.4,7.4c0,4.1,3.5,6.2,8.6,6.2c4.6,0,8.9-1.2,12.9-3.6v6.2c-2.6,2-8,3.4-12.7,3.4c-9.8,0-15.8-4.6-15.8-12.3
            c0-6,3.5-10.2,11.9-12.9c8-2.6,11.1-4.3,11.1-8.7c0-4.7-3.7-7.7-9.9-7.7c-4.9,0-10.1,1.4-12.9,3.5V7013.1z M18371.3,7037.9
            c0.8,8.3,5.3,13.5,13.2,13.5c8.1,0,12.2-4.5,12.5-13.5H18371.3z M18403,7019.1c-3.6-1.8-9.3-3-14.8-3c-11.1,0-16.7,5.3-17.1,15.9
            h32.9c0.1,1.2,0.3,3.8,0.3,4.7c0,12.9-6.5,20.8-19.1,20.8c-14.1,0-21.3-10.4-21.3-23.9c0-15.3,8-23.8,23.5-23.8
            c6.2,0,12.1,1.1,15.7,3.2V7019.1z M18347.3,7010.8l13.1,45.6h-7.1l-9.5-35.8l-10.5,35.8h-7.9l-10.4-36.3l-9.4,36.3h-7.7l13.1-45.6
            h7.4l10.9,36.2l10.4-36.2H18347.3z M18273.2,7016c-9.1,0-14.2,7-14.2,17.5c0,10.7,5.1,17.7,14.2,17.7c9.1,0,14.2-7,14.2-17.5
            C18287.4,7023,18282.2,7016,18273.2,7016z M18273.2,7009.8c14.5,0,21.7,10.5,21.7,23.9c0,13.4-6.3,23.9-21.7,23.9
            c-14.5,0-21.7-10.5-21.7-23.9C18251.5,7020.2,18257.8,7009.8,18273.2,7009.8z M18211,7048.8c3.2,1.7,6.5,2.4,10.8,2.4
            c9.8,0,15.5-6.5,15.5-16.2c0-12.2-6.7-19-18.4-19c-3.2,0-5.4,0.4-7.9,1.2V7048.8z M18203.8,7012.2c4.4-1.4,9.1-2.4,14.4-2.4
            c16.5,0,26.5,9.2,26.5,25.4c0,13.9-8.6,22.3-22.2,22.3c-4,0-7.8-0.7-11.5-2.3v22.8h-7.1V7012.2z M18159.3,6987.7l8.7,23.1
            l18.1,45.6h-7.9l-13.8-37.2l-13.6,37.2h-8.1l18.1-45.6l-8.8-23.1H18159.3z M18105.9,7037.9c0.8,8.3,5.3,13.5,13.2,13.5
            c8.1,0,12.2-4.5,12.5-13.5H18105.9z M18137.6,7019.1c-3.6-1.8-9.3-3-14.8-3c-11.1,0-16.7,5.3-17.1,15.9h32.9
            c0.1,1.2,0.3,3.8,0.3,4.7c0,12.9-6.5,20.8-19.1,20.8c-14.1,0-21.3-10.4-21.3-23.9c0-15.3,8-23.8,23.5-23.8
            c6.2,0,12.1,1.1,15.7,3.2V7019.1z M18090.7,7010.8v29.8c0,12.9-7.8,16.8-17.7,16.8c-6.7,0-14.7-1.7-20.5-3.8v-42.8h7.1v38.1
            c2.9,1.2,7.6,2.1,11.6,2.1c8.3,0,12.2-2.9,12.2-12.9v-27.3H18090.7z M18045.7,7017.1c-2.4-0.7-4.9-1.2-8-1.2
            c-3.2,0-5.6,0.9-5.6,6.8v27.7h12v6h-12v11.3h-7.1v-11.3h-7.6v-6h7.6v-29c0-8.2,4.3-11.6,11-11.6c3.7,0,7,0.5,9.7,1.6V7017.1z
            M18006,7065c2.6,0,4.6,2.1,4.6,4.6c0,2.6-2.1,4.7-4.6,4.7c-2.7,0-4.7-2.1-4.7-4.7C18001.3,7067,18003.4,7065,18006,7065z
            M18009.5,7056.4h-7.1v-45.6h7.1V7056.4z M17959.9,7048.3c3,2,6.5,2.9,10.8,2.9c9.8,0,15.4-6.5,15.4-16.2c0-12.2-6.7-19-18.5-19
            c-3.2,0-5.4,0.4-7.8,1.2V7048.3z M17959.9,6987.7v23c2.3-0.6,4.8-1,7.4-1c16.3,0,26.3,9.2,26.3,25.4c0,13.8-8.7,22.3-22.2,22.3
            c-6.4,0-13.1-2-18.7-6.6v-63.2H17959.9z M18614.2,6965.1v0.9h6.5v-0.9h-2.7v-7.2h-1.1v7.2H18614.2z M18623.1,6966l2.6-6.9l2.6,6.9
            h1.5v-8.2h-1v6.8h0l-2.5-6.8h-0.9l-2.5,6.8h0v-6.8h-1v8.2H18623.1z"></path>
    </g>
    <path id="arrow" fill="#B0B8BC" d="M1785.2,693.1c-0.2,0.1-0.3,0.4-0.2,0.6c0,0,0.6,0.7,1.3,1.4l1.3,1.3l-3.7,0c-3,0-3.8,0-3.8,0.1
          c-0.1,0.1-0.2,0.3-0.2,0.4s0.1,0.4,0.2,0.4c0.1,0,0.8,0.1,3.8,0.1l3.7,0l-1.3,1.3c-0.7,0.7-1.3,1.3-1.3,1.4c0,0,0,0.1,0,0.2
          c0,0.4,0.4,0.6,0.7,0.4c0.2-0.1,3.5-3.5,3.6-3.7c0.1-0.3,0.1-0.3-1.7-2.1c-0.9-1-1.8-1.8-1.8-1.8
          C1785.5,693,1785.4,693,1785.2,693.1z"></path>
    <g id="product">
      <path fill="#B0B8BC" d="M1752.8,681.9c-1,0-2.6,0.7-2.6,2.6c0,2.1,0,12.3,0,12.3s0,10.5,0,12.1s1.1,2.9,3,2.9c1.5,0,8.7,0,8.7,0
            s7.1,0,8.7,0s2.9-1.4,2.9-2.9c0-1.5,0-10.9,0-10.9s0-11.3,0-11.4c0-0.1-4.5-4.6-4.6-4.6C1768.7,681.9,1753.8,681.9,1752.8,681.9z
            M1768.1,684.2c0,0,0,0.7,0,0.9s0.1,0.5,0.1,0.5c0.3,0.8,0.9,1.4,1.7,1.6c0.3,0.1,0.4,0.1,1.4,0.1l1.1,0c0,0,0,19.6,0,21.1
            c0,1.4-0.9,2.3-2.3,2.3c-1.3,0-15,0-16.5,0s-2.3-0.6-2.3-2.3c0-1.7,0-22.2,0-23.5s0.6-1.9,1.9-1.9c1.3,0,1,0,7.2,0l7.7,0
            L1768.1,684.2z M1770.4,685.1l1.2,1.2l-0.7,0c-0.6,0-0.7,0-0.9-0.1c-0.5-0.2-0.8-0.6-0.9-1.2c0-0.3,0-1.2,0-1.2
            C1769.2,683.8,1769.7,684.4,1770.4,685.1z"></path>
      <path fill="#B0B8BC" d="M1757.7,689.7c-1.1,0.4-2,0.8-2.1,0.9c0,0-0.1,0.1-0.1,0.1c0,0.1,0.8,2.6,0.9,2.7c0.1,0.1,0.1,0.1,0.8,0.1
            c0.7,0,0.8,0,0.9,0.1c0.1,0.1,0.1,0.1,0.1,3c0,2.2,0,3,0,3c0.1,0.1,7.1,0.1,7.2,0c0,0,0-0.7,0-3c0-2.9,0-2.9,0.1-3
            c0.1-0.1,0.1-0.1,0.9-0.1c0.8,0,0.8,0,0.8-0.1c0.1-0.1,0.9-2.6,0.9-2.7c0,0,0-0.1-0.1-0.1c-0.1-0.1-1.6-0.7-1.7-0.7
            c0,0-0.1,0-0.2-0.1c-0.1-0.1-2.1-0.9-2.2-0.9c0,0-0.1,0-0.2,0.1c-1.2,0.5-2.6,0.5-3.8,0c-0.1-0.1-0.2-0.1-0.2-0.1
            C1759.7,688.9,1758.8,689.3,1757.7,689.7z M1759.7,689.7c0.2,0.5,0.5,0.9,1,1.2c0.4,0.2,0.7,0.2,1.1,0.2c0.5,0,0.7-0.1,1.1-0.3
            c0.5-0.2,0.8-0.6,1-1.2c0.1-0.1,0.1-0.2,0.2-0.3c0,0,0.2,0,0.6,0.2c0.3,0.1,1,0.4,1.6,0.7c0.6,0.3,1.2,0.5,1.2,0.5
            c0,0,0.1,0.1,0.1,0.2c0,0.1-0.7,2.1-0.7,2.2c0,0-0.4,0-0.9,0.1l-0.9,0l0,0.1c0,0.1,0,1.4,0,3c0,1.6,0,2.9,0,2.9c0,0-1.4,0-3.3,0
            h-3.2l0-0.1c0,0,0-1.4,0-3c0-1.6,0-2.9,0-3c0-0.1-0.1-0.1-0.9-0.1c-0.5,0-0.9,0-0.9,0c-0.1,0-0.2-0.3-0.4-1.1
            c-0.2-0.6-0.3-1.1-0.3-1.2c0-0.1-0.2,0,2.1-0.9c0.9-0.4,1.3-0.5,1.4-0.5C1759.5,689.4,1759.6,689.5,1759.7,689.7z M1760.5,689.6
            c0.9,0.2,1.8,0.3,2.7,0c0.4-0.1,0.5-0.1,0.5,0.1c0,0.1-0.2,0.4-0.4,0.6c-0.9,0.8-2.5,0.6-3.1-0.4c-0.1-0.2-0.1-0.3-0.1-0.4
            C1760.2,689.5,1760.2,689.5,1760.5,689.6z"></path>
      <path fill="#B0B8BC" d="M1754.4,703.8c-0.1,0.1-0.1,0.1-0.1,0.2c0,0.1,0,0.2,0.1,0.2l0.1,0.1h7.4h7.4l0.1-0.1
            c0.1-0.1,0.1-0.1,0.1-0.2c0-0.1,0-0.2-0.1-0.2l-0.1-0.1h-7.4L1754.4,703.8L1754.4,703.8z"></path>
      <path fill="#B0B8BC" d="M1754.4,705.3c-0.1,0.1-0.1,0.1-0.1,0.2c0,0.1,0,0.2,0.1,0.2l0.1,0.1h3.2h3.2l0.1-0.1
            c0.1-0.1,0.1-0.1,0.1-0.2c0-0.1,0-0.2-0.1-0.2l-0.1-0.1h-3.2L1754.4,705.3L1754.4,705.3z"></path>
      <path fill="#B0B8BC" d="M1762.7,705.3c-0.1,0.1-0.1,0.1-0.1,0.2c0,0.1,0,0.2,0.1,0.2l0.1,0.1h3.2h3.2l0.1-0.1
            c0.1-0.1,0.1-0.1,0.1-0.2c0-0.1,0-0.2-0.1-0.2l-0.1-0.1h-3.2L1762.7,705.3L1762.7,705.3z"></path>
      <path fill="#B0B8BC" d="M1754.4,706.9c-0.1,0.1-0.1,0.1-0.1,0.2c0,0.1,0,0.2,0.1,0.2l0.1,0.1h3.2h3.2l0.1-0.1
            c0.1-0.1,0.1-0.1,0.1-0.2c0-0.1,0-0.2-0.1-0.2l-0.1-0.1h-3.2L1754.4,706.9L1754.4,706.9z"></path>
      <path fill="#B0B8BC" d="M1762.7,706.9c-0.1,0.1-0.1,0.1-0.1,0.2c0,0.1,0,0.2,0.1,0.2l0.1,0.1h3.2h3.2l0.1-0.1
            c0.1-0.1,0.1-0.1,0.1-0.2c0-0.1,0-0.2-0.1-0.2l-0.1-0.1h-3.2L1762.7,706.9L1762.7,706.9z"></path>
      <path fill="#B0B8BC" d="M1738.5,685.9c-0.9,0.2-1.6,0.7-2,1.5c-0.3,0.5-0.2-0.5-0.2,13.4c0,0,0,11.8,0,12.2c0,0.4,0.1,0.7,0.1,0.7
            c0.3,0.9,1,1.6,2,2c0,0,0.3,0.1,0.6,0.1c0.4,0,17.2,0,17.2,0s1.2,0,1.8-0.2c0.8-0.4,1.3-1.1,1.5-2.1c0-0.2,0.1-0.3,0.1-0.4v-0.1
            h-0.5h-0.5v0.1c0,0.2-0.1,0.6-0.3,0.8c-0.2,0.3-0.4,0.5-0.7,0.6c0,0-0.2,0.1-0.6,0.1c-0.3,0-8.9,0-8.9,0c-9.2,0-9.2,0-9.5-0.1
            c-0.6-0.2-1.1-0.7-1.2-1.2c-0.1-0.2-0.1-1.4-0.1-12.7l0-12.5l0.1-0.2c0.1-0.3,0.5-0.6,0.7-0.7c0.5-0.2,0.2-0.2,5.8-0.2h5.2v-0.5
            v-0.5l-5.2,0C1739.8,685.8,1738.7,685.8,1738.5,685.9z"></path>
      <path fill="#B0B8BC" d="M1744.6,691.6c-0.8,0.2-1.4,1-1.4,1.8c0,0.4,0.3,0.9,0.6,1.2l0.2,0.1l0,0.5c0,0.4,0,0.6,0.1,0.8
            c0.1,0.4,0.3,0.7,0.5,1c0.1,0.2,0.2,0.2,0.1,0.2c0,0-0.1,0.1-0.1,0.1c-0.1,0-0.1,0-0.2,0c-0.4-0.2-1-0.3-1.4-0.1
            c-0.9,0.3-1.3,1.1-1.1,2c0.1,0.6,0.6,1.1,1.2,1.3c0.2,0.1,0.2,0.1,0.2,0.2c0,0.1,0,0.2,0,0.2c-0.3,0.3-0.4,0.9-0.3,1.5
            c0.1,0.5,0.5,1,0.9,1.3c0.4,0.4,1.1,0.6,1.6,0.6c0.5,0,0.9-0.3,1.1-0.6l0.1-0.2l0.5,0c0.5,0,0.5,0,0.5,0.1c0.2,0.3,0.6,0.6,1,0.6
            c0.4,0.1,0.4,0.1,0.4-0.2V704l-0.2,0c-0.3,0-0.6-0.2-0.7-0.4c-0.3-0.3-0.3-0.9-0.1-1.4c0.2-0.3,0.5-0.7,0.8-0.9
            c0.2-0.1,0.2-0.1,0.2-0.3v-0.2l-0.2,0.1c-0.4,0.2-0.8,0.7-1,1.1c-0.2,0.3-0.2,0.5-0.2,0.9v0.3h-0.4c-0.2,0-0.4,0-0.5,0
            c0,0-0.1-0.1,0-0.2c0-0.4-0.2-1-0.5-1.4c-0.4-0.5-1.1-0.9-1.8-0.9c-0.1,0-0.5,0.1-0.6,0.1c0,0-0.1,0-0.1-0.1c0-0.1,0-0.1,0-0.2
            c0,0,0-0.1,0.2-0.1c0.3,0,0.7-0.3,0.9-0.5c0.3-0.3,0.4-0.6,0.4-1c0-0.4-0.1-0.6-0.3-0.9l-0.1-0.2l0.3-0.2l0.3-0.2l0.2,0.1
            c0.6,0.4,1,0.5,1.7,0.5c0.6,0,0.9-0.1,1.4-0.3c0.5-0.2,0.5-0.2,0.5-0.4l0-0.2l-0.2,0.1c-1.4,1-3.3,0.6-4.1-0.9
            c-0.3-0.5-0.4-1.2-0.3-1.7l0.1-0.3l-0.2-0.1c-0.3-0.1-0.5-0.3-0.6-0.6c-0.2-0.3-0.2-0.7-0.1-1c0.1-0.3,0.4-0.6,0.7-0.7
            c0.2-0.1,0.3-0.1,0.6-0.1c0.3,0,0.4,0,0.6,0.1c0.2,0.1,0.5,0.3,0.6,0.5l0.1,0.1l0.3-0.1c0.4-0.1,1.1-0.1,1.5,0
            c0.3,0.1,0.3,0.1,0.4,0c0-0.1,0.4-0.4,0.5-0.5l0.2-0.1v-0.2v-0.2l-0.2,0.1c-0.2,0.1-0.5,0.3-0.6,0.4l-0.1,0.1l-0.4-0.1
            c-0.4-0.1-1-0.1-1.2,0c-0.1,0-0.1,0-0.3-0.1C1745.9,691.7,1745.2,691.5,1744.6,691.6z M1744.3,697.8c0.8,0.4,1,1.4,0.4,2
            c-0.2,0.2-0.4,0.3-0.6,0.4c-0.1,0-0.2,0-0.4,0c-0.3,0-0.6-0.1-0.9-0.3c-0.5-0.4-0.6-1.1-0.2-1.6
            C1742.9,697.7,1743.7,697.5,1744.3,697.8z M1745.2,701.1c0.4,0.2,0.7,0.4,0.9,0.8c0.2,0.4,0.3,0.6,0.3,1c0,0.3-0.1,0.5-0.3,0.7
            c-0.5,0.5-1.4,0.4-2.1-0.3c-0.6-0.6-0.8-1.4-0.4-1.9c0.2-0.3,0.5-0.5,1-0.4C1744.9,701,1745,701,1745.2,701.1z"></path>
      <path fill="#B0B8BC" d="M1745.8,694c-0.2,0.1-0.2,0.3-0.1,0.5c0.1,0.1,0.3,0.3,0.4,0.3c0.2,0,0.4-0.1,0.4-0.3
            C1746.6,694,1746.1,693.7,1745.8,694z"></path>
      <path fill="#B0B8BC" d="M1748.3,694c-0.2,0.1-0.3,0.5-0.1,0.7c0.3,0.3,0.8,0.1,0.8-0.3c0-0.1,0-0.2-0.1-0.3
            c-0.1-0.1-0.2-0.1-0.3-0.1C1748.5,693.9,1748.3,693.9,1748.3,694z"></path>
      <path fill="#B0B8BC" d="M1746.9,694.7c-0.5,0.1-0.9,0.4-1.1,0.8c-0.5,1,0.2,2.1,1.3,2.2c1.5,0.1,2.3-1.6,1.2-2.6
            c-0.2-0.2-0.5-0.3-0.8-0.4C1747.3,694.6,1747.2,694.6,1746.9,694.7z M1747.8,695c0.8,0.4,1,1.4,0.3,2c-0.3,0.3-0.5,0.3-0.9,0.3
            c-0.3,0-0.4,0-0.6-0.1c-0.3-0.1-0.5-0.4-0.6-0.6c-0.1-0.2-0.1-0.3-0.1-0.5c0-0.3,0-0.3,0.1-0.5c0.2-0.4,0.5-0.6,0.9-0.7
            C1747.2,694.9,1747.6,694.9,1747.8,695z"></path>
      <path fill="#B0B8BC" d="M1746.9,695.2c-0.1,0.1-0.1,0.2-0.1,0.3c0,0.4,0.5,0.6,0.8,0.3c0.3-0.3,0.1-0.7-0.4-0.7
            C1747.1,695.1,1747.1,695.1,1746.9,695.2z"></path>
      <path fill="#B0B8BC" d="M1747.1,696.4c-0.1,0.3-0.3,0.3-0.6,0.1c-0.2-0.1-0.3-0.1-0.3,0c0,0.1,0.2,0.2,0.3,0.3
            c0.1,0.1,0.4,0.1,0.5,0c0,0,0.1-0.1,0.2-0.1c0.1-0.1,0.1-0.1,0.1,0c0,0.1,0.3,0.2,0.5,0.2c0.2,0,0.4-0.2,0.4-0.3
            c0-0.1-0.1-0.1-0.2,0c-0.3,0.2-0.5,0.2-0.7-0.1C1747.3,696.2,1747.2,696.2,1747.1,696.4z"></path>
      <path fill="#B0B8BC" d="M1740.4,707.7c-0.1,0.1-0.1,0.1-0.1,0.2c0,0.1,0,0.2,0.1,0.2l0.1,0.1h4.3h4.3v-0.3v-0.3h-4.3L1740.4,707.7
            L1740.4,707.7z"></path>
      <path fill="#B0B8BC" d="M1740.4,709.2c-0.1,0.1-0.1,0.1-0.1,0.2c0,0.1,0,0.2,0.1,0.2l0.1,0.1h4.4h4.4l-0.1-0.3l-0.1-0.3h-4.3
            L1740.4,709.2L1740.4,709.2z"></path>
      <path fill="#B0B8BC" d="M1740.4,710.7c-0.1,0.1-0.1,0.1-0.1,0.2c0,0.1,0,0.2,0.1,0.2l0.1,0.1h4.7h4.7l-0.2-0.2
            c-0.1-0.1-0.2-0.3-0.2-0.3c0-0.1-0.1-0.1-4.6-0.1L1740.4,710.7L1740.4,710.7z"></path>
    </g>
  </g>
</svg>
