/* vim: set ts=2 sw=2 sts=2 et: */
/**
 * CSS stylesheet for daterangepicker widget
 *
 * @category   X-Cart
 * @package    X-Cart
 * @subpackage Skin
 * @author     Michael Bugrov
 * @copyright  Copyright (c) 2001-2016 Qualiteam software Ltd <info@x-cart.com>
 * @version    3f68edb4b06a5e8ffa772f74caab24df25f6e212, v3 (xcart_4_7_5), 2016-02-18 13:44:28, daterangepicker.css, aim
 * @link       http://www.x-cart.com/
 * @see        ____file_see____
 */

input.date-range
{
  background-image: url(../../images/icon_calendar.png);
  background-repeat: no-repeat;
  background-position: right 3px top 3px;
  padding-right: 30px;
  padding-left: 5px;
  font-size: 15px;
  width: 265px;
  height: 32px;
  box-sizing: border-box;
}

.date-picker-wrapper {
  box-sizing: border-box;
}

.date-picker-wrapper .top-bar .apply-btn {
  padding-top: 2px;
}

.date-picker-wrapper .footer b,
.date-picker-wrapper .footer span
{
  float: left;
  padding-right: 5px;
}

.date-picker-wrapper .footer .prev-days + .custom-shortcut,
.date-picker-wrapper .footer .prev-buttons + .custom-shortcut,
.date-picker-wrapper .footer .next-days + .custom-shortcut,
.date-picker-wrapper .footer .next-buttons + .custom-shortcut
{
  clear: left;
}

.date-picker-wrapper .footer .custom-shortcut a
{
  font-size: 12px;
  text-transform: capitalize;
}
