/* vim: set ts=2 sw=2 sts=2 et: */
/**
 * EU Cookie Law module CSS stylesheet
 *  
 * @category   X-Cart
 * @package    X-Cart
 * @subpackage CSS
 * @author     Ruslan R. Fazlyev <rrf@x-cart.com> 
 * @version    00dfe6acce1a85a1d4fac8a204ab4eabaa5d1c37, v4 (xcart_4_7_5), 2016-02-09 11:54:20, main.css, aim
 * @link       http://www.x-cart.com/
 * @see        ____file_see____
 */
div#eucl_panel {
  border: 1px solid #aaa;
	padding: 10px 15px 10px 15px;
	display: none;
	vertical-align: middle;
  position: absolute;
  top: 0px;
  z-index: 100000;
  background: #fff;
  color: #000;
}
div#eucl_panel #eucl_panel_btn {
	float: right;
	padding: 7px 0px 0px 20px;
  white-space: nowrap;
}
div#eucl_panel #eucl_panel_countdown {
	padding: 0px 0px 0px 10px;
	font-size: 18px;
  white-space: nowrap;
  color: #005d98;
  display: inline-block;
}
div.save_close_btn {
	float: right;
  padding-right: 20px;
}
#eucl_desc ul {
  margin: 0px;
}
div.eucl_dialog {
  padding: 10px;
  line-height: 14px;
}
