/* vim: set ts=2 sw=2 sts=2 et: */
/**
 * Special Offers responsive CSS stylesheet
 *  
 * @category   X-Cart
 * @package    X-Cart
 * @subpackage CSS
 * @author     Ruslan R. Fazlyev <rrf@x-cart.com> 
 * @version    5acd2d6ff87a4b37f9db972c919c74e80e5b5620, v2 (xcart_4_7_1), 2015-03-12 12:48:28, altskin.css, aim
 * @link       http://www.x-cart.com/
 * @see        ____file_see____
 */
.offers-short-list {
  padding-right: 130px;
  position: relative;
  margin-bottom: 0;
}
.offers-short-list .offers-more-info {
  position: absolute;
  top: 0;
  right: 0;
  width: 130px;
}
.offers-cell {
  box-sizing: border-box;
  margin-bottom: 1em;
}
.offers-cell > p:first-child {
  margin-top: 0;
}
@media screen and (max-width:767px) {

  .offers-short-list {
    margin-top: 0;
  }

  .offers-cell {
    width: 100% !important;
    float: none;
    padding: 0;
  }
}
